* {
  padding:0;
  margin:0;
  
}
html {
  /*横幅と上限の設定*/
  max-width: 1000px;
  min-width: 200px;
  margin: 0 auto;
  background-color:rgb(228, 228, 228);
}

.fadeIn {
  display:none;
}
.topTxet {
  width:50%;
  height:100px;
  color:gray;
  background-color:white;
  float:left;


	
}
h1 {
  float:left;
  margin-left:5%;
  width: 50%;
  font-size:4vw;
  font-family:serif;
  /*左下寄せのやつ*/
  position: absolute;
  bottom: 20px;

 
}

.text1 {
  font-size: 1vw;
  z-index: 20;
 
}
.top {
  background-color:white;
 border-bottom: 0.2px solid gray;
 position: relative;
}
.seaImg {
  
}

.topImg {
  width:50%;
height:100%;
margin-bottom:-7px;
}



.Work {
  padding-left: 5%;
  color:gray;
  background-color:white;


}

.content {

  padding: 0 5%;
  display:flex; /*隣同士では高さを合わせる*/
  flex-wrap:wrap;
  background-color:white;
}
.content2 /*それぞれの要素のクラス div */ {
  width:48%;
  margin: 1% 1%;

  background-color:;

  overflow: hidden;	/*拡大時にはみ出た部分を隠す*/
 
}
.content2 img {
  display: block;
  transition-duration: 0.3s;
}
.content2 img:hover {
  transform: scale(1.03);
  transition-duration: 0.5s;
}

.content2a {
  width: 100%;
  margin: 1% 1%;
  overflow: hidden;	/*拡大時にはみ出た部分を隠す*/

  background-color: white;
}
.content2a img {
  display: block;
  transition-duration: 0.5s;
}
.content2a img:hover {
  transform: scale(1.03);
  transition-duration: 0.5s;
}

.img1 { /*下にテキストつき*/
  width: 100%;
 height: 75%;
  z-index: 0;
}
.img2 { /* ノーマル*/
  width: 100%;
  height: 100%;
}
.img3 {
  width: 100%;
  height: 100%;
}

footer {
 background-image: url(/projectswim/swim.img/2\ .jpg);
 background-size:100%;
 width: 100%;
 height: 400px;
 max-width: 1000px;

 position: fixed;
 bottom: 0px;
 z-index: -1;


}
.footerImg { /* なし */
  width: 100%;
  height: 500px;
  
}
.footerName {
  color: white;
  font-size: 50px;
  margin: 60px auto;
  text-align: center;
}
.footerText {
  color: white;
  font-size: 20px;
  text-align: center;



}
.footerContent {

}
il {
  border: solid 0.5px white;
  height: 100px;
  width: 100px;
  display: inline-block;
  margin: 0px 2%;
}

.none {
  height: 400px;
  width: 100%;
}


